<!doctype html>
<html lang = "en">
<head>
<%- include('header') %>
	
</head>
<body>
<%- include('modal') -%>
	
	<div class = "jumbotron"></div>

	<div class = "container-fluid">
		<div class = "row">
<%- include('navbar') %>	
<%- include('login-panel') %>
<%- include('about-content') %>
		</div>
	</div>
</body>
</html>